# Ignore Gradle project-specific cache directory
.gradle
.idea
# Ignore Gradle build output directory
build
# Ignore gradle wrapper files but keep gradle.properties
gradle/wrapper/
gradlew
gradlew.bat
.mvn*
target*
mvnw*
.gitattributes