<configuration>

    <!-- Console appender with correlationId from MDC -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- include correlationId from MDC at the end of the log line only when present -->
            <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %-5level [%thread] %logger{36} : %msg %replace(%X{correlationId}){^(.+)$,[correlationId=$1]}%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>

